.flex-row-center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.flex-column-start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}
/* may or may not bother with this */
.weave {
    filter: drop-shadow(2px 0 0 rgb(100, 100, 100)) drop-shadow(-2px 0 0 antiquewhite) drop-shadow(0 2px 0 antiquewhite) drop-shadow(0 -2px 0 antiquewhite) drop-shadow(1px 0 0 red) drop-shadow(-1px 0 0 red) drop-shadow(0 -1px 0 red) drop-shadow(0 1px 0 red);
  }

.editor {
    border: 1px solid black;
    padding: 1rem;
}
.editor label.disabled {
    color: #777;
}